/* set body to display flex */
body {
    display:flex;
    flex-wrap: wrap;
}

.tripCard {
    /* child flex properties below */
    flex-grow: 1;
    flex-basis: 46%;
    margin: 1%;
    min-width:400px;
}